.background-side {
  background: url(../images/jake-blucker-background.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 1 1 0%;
  width: 45%;
}

.bg-header {
  display: flex;
  font-family: norse-font;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  top: 40%;
  font-size: 80px;
  padding: 20px 0px;
  width: 100%;
}

img {
  height: 150px;
  max-width: 300px;
  padding-right: 20px;
}

.bg-footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100%;
  font-size: 22px;
}
