@font-face {
  font-family: norse-font;
  src: url(../fonts/Norse-Bold.otf);
}

@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins-ExtraLight.ttfs);
}

@font-face {
  font-family: swr-font;
  src: url(../fonts/SawarabiMincho-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  min-height: 100vh;
}
