@font-face {
  font-family: norse-font;
  src: url(../fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  height: 100vh;
}

.background-side {
  background: url(../images/jake-blucker-background.jpg);
  background-size: cover;
  background-repeat: none;
  width: 400px;
  position: relative;
}

.form-side {
  border: rgb(8, 5, 5) 10px solid;
  width: 600px;
}

.bg-header {
  display: flex;
  font-family: norse-font;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 350px;
  font-size: 60px;
}
